.verticle-line {
    position: absolute;
    height: 65px;
    top: -9px;
    left: -5px;
    border-left: 1px solid rgb(231, 231, 231);
}

.verticle-line2 {
    position: absolute;
    height: 65px;
    top: -9px;
    left: -32px;
    border-left: 1px solid rgb(231, 231, 231);
}

.verticle-line3 {
    position: absolute;
    height: 65px;
    top: -9px;
    left: 70px;
    border-left: 1px solid rgb(231, 231, 231);
}

.your-cart {
    position: absolute;
    height: 60px;
    width: 93%;
    background: #d72164;
    margin-left: -10px;
    z-index: 1111;
    position: fixed;
    bottom: 0%;
    color: #fff;
}

.cart_-icon {
    float: left;
    position: relative;
    right: -20px;
    top: -1px;
}

.amount-y-cart {
    float: left;
    position: relative;
    right: -25px;
    font-size: 12px;
    margin-top: 3px;
    font-weight: normal;
}

.view-y-cart {
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
}

.yourCart {
    text-decoration: none;
    color: #fff;
}

.price-y-cart {
    float: right;
    position: relative;
    right: 25px;
    font-size: 15px;
    margin-top: 2px;
    font-weight: normal;
}

.start-adding {
    color: rgb(143, 143, 143);
    font-size: 14px;
}

.centers {
    padding-right: 20px;
    padding-left: 20px;
}

.totals-price {
    float: right;
}

.total {
    float: right;
    margin-top: 4px;
}

.subtotals {
    margin-top: 30px;
}

.totals {
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}

.totals-heading {
    float: left;
    margin-left: 15px;
}

.checkout-btn {
    background-color: #c2c2c2;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
    text-align: center;
    height: 48px;
    padding: 0 100px;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkout-btn:hover {
    background-color: #eee;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.main-div {
    font-family: "Open Sans", Arial, sans-serif;
    width: 81%;
}

.top-container {
    padding-top: 58px;
    margin-left: -8px;
}

.hero-img {
    background-size: cover;
    background-position: center;
    height: 385px;
    width: 100%;
}

.restu-branches {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
}

.info-icon {
    float: right;
    margin-right: -70px;
    margin-top: -10px;
}

.multi-tag {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: inline-block;
    margin-right: 8px;
    color: #fff;
    background-color: #d70f64;
    padding: 2px 8px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.rates-div {
    margin-top: -10px;
}

.ratings-component {
    display: inline-block;
}

.star-svg {
    vertical-align: baseline;
    fill: #276fbf;
}

.rating {
    font-size: 12px;
    color: rgb(151, 151, 151);
}

.vendor-info-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-weight: 300;
    color: #707070;
    text-align: left;
    font-size: 1rem;
    margin-top: -10px;
    cursor: pointer;
}

.vendor-info-ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.data-speechify-sentence {
    display: inline-flex;
    font-size: 14px;
    padding-right: 7px;
}

.data-speechify-dot {
    padding-left: 7px;
    font-weight: bold;
    margin-top: -8px;
    font-size: 20px;
}

.deal {
    background-color: #fafafa;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.deal-wrapper {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: -10px;
}

.deal-content::before {
    right: 0;
    top: 14px;
    bottom: 0;
    position: absolute;
    content: "";
    background: url(https://assets.foodora.com/0c462a3/img/deal-presents.svg) no-repeat;
    background-size: cover;
    width: 79px;
    height: 52px;
}

.deal-desc {
    margin-top: -20px;
    color: rgb(114, 114, 114);
    font-size: 14px;
}

.header {
    padding: 10px 16px;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-family: "Open Sans", Arial, sans-serif;
}

.nav-ul {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 14px;
}

.nav-ul li {
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 18px 0 0px;
}

.nav-ul li a {
    letter-spacing: 0.1px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 12px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 45px;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.dish-menu-category-list {
    background-color: #fff;
    overflow: hidden;
    width: 101%;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 63px;
    margin-left: -5px;
}

.dish-menu-category-list .nav-holder {
    position: relative;
    overflow-x: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: white !important;
    z-index: 99;
}

.nav-holder ul li a {
    font-size: 12px;
}

.nav-holder {
    border-bottom: 1px solid rgb(223, 223, 223);
}


/* .nav-holder ul li a:hover {
    background-image: linear-gradient(120deg, #d72164 0%, #d72164 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
} */

.nav-tabs ul,
.dish-menu-category-list ul {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dish-menu-category-list li {
    padding: 0 0 0 16px;
    white-space: nowrap;
    text-transform: uppercase;
}

.nav-tabs li a,
.dish-menu-category-list li a,
.nav-tabs .tab,
.dish-menu-category-list .tab {
    position: relative;
    overflow: hidden;
    height: 64px;
    line-height: 64px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.left-arrow {
    position: absolute;
    top: 18px;
    left: -4px;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 18px;
    right: -17px;
    cursor: pointer;
}

.gap {
    background-color: rgb(240, 240, 240);
    height: 5px;
    margin-top: -10px;
}

.menue__list {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: start;
}

.line-through {
    text-decoration: line-through;
    color: #7c7c7c;
    margin-left: 10px;
}

.seasonal-product {
    width: 46%;
    height: 100px;
    padding: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-heading {
    font-size: 15px;
}

.product-price {
    font-size: 13px;
}

.product-img {
    float: right;
    margin-top: -20px;
}

.product-add {
    float: right;
    margin-top: 14px;
    margin-right: -101px;
    cursor: pointer;
}

.footer {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    max-width: 50%;
    position: absolute;
    left: 300px;
}

.divider {
    border: none;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.中文 {
    width: 66.67%;
    display: block;
    margin: 0 auto 16px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #d72164;
    color: #d72164;
    background-color: #fff;
    padding: 0 15px;
    line-height: 46px;
    display: inline-block;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.blur-foodpanda {
    float: left;
    margin-top: -13px;
}

.contact-icon-div {
    float: right;
    margin-top: -20px;
}

.popular-deliver {
    text-align: start;
    width: 33%;
    display: inline-block;
}

.deliv-sub-heading {
    font-size: 14px;
    padding-right: 10px;
    margin-top: -10px;
    color: rgb(146, 146, 146);
}

.cities {
    font-size: 14px;
    word-spacing: 4px;
    color: rgb(146, 146, 146);
}


/*                        yourCart                     */

.cart-summary {
    padding: 5px;
}

.cross-icon {
    float: left;
}

.delivery,
.pickup,
.time {
    color: rgb(116, 116, 116);
}

.time {
    position: relative;
    top: -7px;
}

.cart-summary-header-title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(68, 68, 68);
    text-align: center;
    line-height: 1.5;
}

.cart-item-heading {
    text-align: start;
    color: #e32366;
    font-size: 13px;
    margin-top: 30px;
}

.product-variation {
    text-align: start;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 50px;
}

.cart-item-price {
    text-align: end;
    margin-top: -33px;
}

.delete-icon,
.cart-item-quantity,
.pluss-icon {
    float: right;
    margin-top: -65px;
}

.delete-icon {
    margin-top: -66px;
    margin-right: 50px;
}

.cart-item-quantity {
    margin-right: 30px;
    margin-top: -64px;
}

.pluss-icon {
    margin-right: 3px;
}

.cart-summary-amount-list {
    width: 95%;
    margin: 0 auto;
}

.minimum-subtotal {
    float: left;
    color: rgb(112, 112, 112);
    font-size: 15px;
    margin-bottom: -50px;
}

#Total {
    font-weight: bold;
    color: rgb(58, 58, 58);
}

.cartlib-subtotal {
    float: right;
    color: rgb(112, 112, 112);
    font-size: 15px;
}

.footer-goToCheckout {
    position: fixed;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
    z-index: 99;
}

.goToCheckout {
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    height: 48px;
    border: 1px solid;
    border-radius: unset;
    padding: 0 120px;
    line-height: 46px;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    max-width: 100%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    word-wrap: normal;
    color: #fff;
    background-color: #D70F64;
}

.cutlery-main {
    margin-left: -8px;
    border-top: 10px solid transparent;
    padding: 15px;
    width: 97%;
    border-image: url(../assets/images/border2.png) 20% round;
    background-color: rgb(246, 246, 246);
}

.cutlery-sub-div {
    background-color: rgb(241, 241, 255);
    margin-top: 12px;
    margin-bottom: 10px;
    /* width: 96%; */
    margin-left: -5px;
    border-left: 2px solid rgb(143, 143, 255);
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: start;
    border-radius: 4px;
}

.spoons-img-div {
    width: 10%;
    display: inline-block;
}

.spoons-img {
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
}

.need-cutlery {
    width: 50%;
    display: inline-block;
    margin-left: 10px;
}

.need-cutlery-heading {
    font-weight: bold;
    font-size: 13px;
}

.need-cutlery-sub-heading {
    font-size: 13px;
    position: relative;
    top: -5px;
}

.toggle-btn-cutlery {
    width: 30%;
    display: inline-block;
}


/* toggle btn */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    position: relative;
    top: -23px;
    left: 60px;
}

.switch .inputt {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(187, 187, 187);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: -2px;
    background-color: rgb(243, 243, 243);
    -webkit-transition: .4s;
    transition: .4s;
}

.inputt:checked+.slider {
    background-color: #d72164;
}

.inputt:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.inputt:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.info-main-div {
    background-color: #eee;
    margin-top: -20px;
}

.contact-info {
    background-color: rgb(240, 240, 240);
    margin-left: -9px;
    width: 104%;
}

.info-div {
    background-color: white;
    /* box-shadow: 0 1px 10px 0 rgba(126, 126, 126, 0.19); */
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(228, 228, 228);
}

.contact-txt {
    float: left;
    color: #000;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.contact-email {
    float: right;
    font-size: 13px;
}

.detail-place {
    float: left;
    font-size: 13px;
}

.right-arrow {
    float: right;
    width: 15px;
    height: 10px;
    position: relative;
    right: 10px;
    top: 1px;
}

.right-arrow-red {
    float: right;
    width: 15px;
    height: 10px;
    position: relative;
    right: 10px;
    top: 4px;
    margin-left: 25px;
}

.payment-div {
    background-color: white;
    width: 93%;
    margin: 0 auto;
    margin-left: -9px;
    padding: 20px 20px;
    padding-bottom: 30px;
    border: 1px solid rgb(228, 228, 228);
    text-align: start;
}

.plus-icon-plus {
    min-width: 13px;
    min-height: 13px;
    margin-left: 10px;
}

.add-payment-txt {
    color: #ff0077;
    margin-left: 20px;
}

.footer-details {
    text-align: start;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 13px;
    font-family: "Open Sans", Arial, sans-serif;
}

.d2 {
    max-width: 1000px;
    overflow: auto;
}

.l1,
.l2,
.l3,
.l4,
.l5,
.l6 {
    max-width: 840px;
    overflow: auto;
}